$fontsize: 10px;

/* Use the variables */
.grimm_header {
  font-size: 16px;
  color: rgba( 46, 161, 223 ,1 );
  text-align: center;
}

.pr_data {
  font-size: $fontsize;
  margin-left: 2px;
}

.pr_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pr_row_title {
  background-color: rgba( 186, 205, 214 ,1 );
}

.pr_good {
  background-color: yellowgreen;
}

.pr_caution {
  background-color: yellow;
}

.pr_bad {
  background-color: red;
}

.pr_heading {
  font-size: 16px;
  background-color: rgba( 46, 161, 223 ,1 );
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.pr_bold {
  font-weight: bold;
}


#wrapper {
  display: flex;
}

#left {
  flex: 0 0 65%;
}

#right {
  flex: 1;
  text-align: right;
  font-size: 16px;
  font-family: FontAwesome;
}
